/* LOGIN */
.main__container__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    padding: 24px 20px 20px 20px;
    border-radius: 10px;
    border: 1px solid  rgba(255, 255, 255, 0.25);
    margin: auto;
    width:324.5px;
    opacity: 0.8;
    backdrop-filter: blur(5px);
}

/* LOGIN FORM */
.main__container__login form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 16px 16px;
    border-radius: 8px;
    margin-bottom: 15px;
    width: 292px;
}

.main__container__login form label input{
    color: white;
    padding: 5px 10px;
    font-size: 10px;
    font-family: inherit;
}

/* LOGIN FORM LINK */
.main__container__login form a {
    text-decoration: underline;
    color: var(--form-link-color);
    line-height: 27px;
    text-align: center;
    font-size: 9px;
}

/* LOGIN TITLE */
.main__container__login h2 {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 24px;
}

/* LOGIN FORM LABEL */
.main__container__login label {
    display: flex;
    flex-direction: column;
    line-height: 24px;
    font-size: 10px;
    gap: 1px;
}

/* LOGIN FORM INPUT */
.main__container__login label input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 6px;
    height: 28px;
    width: 260px;
}


select {
    width: 260px;
    height: 28px;
    padding: 0px 5px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    border-radius: 6px;
    background-color: transparent;
    color: white;
    font-family: inherit;
    font-size: 10px;
    margin-bottom: 6px;
}

/* LOGIN BTN */
.login-btn {
    background-color: var(--disabled-btn-color);
    color: white;
    cursor: pointer;
    border: none;
    font-family: inherit;
}

/* CREATE ACCOUNT BTN */
.create-btn {
    width: 260px;
    max-width: 260px;
    height: 32px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    margin-bottom: 15px;
    cursor: pointer;
}

/* GOOGLE BTN */
.google-btn {
    width: 260px;
    height: 32px;
    max-width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background-color: var(--accent-color);
    cursor: pointer;
    border: 1px solid var(--google-btn-border-color);
}